<!DOCTYPE HTML>
<html>
<head>
   
    <partial name="_MainHeaderPartilView" />
</head>
<body>

  <partial name="_NavbarPartialView" />

  @RenderBody()

        <footer>
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-pb-sm">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>Sosyal Medya Hesaplarımız</h2>
                                    <p></p>
                                    <p><a href="#">TechPhantoms@info.com</a></p>
                                    <p class="colorlib-social-icons">
                                        <a href="https://www.facebook.com/"><i class="icon-facebook4"></i></a>
                                        <a href="https://twitter.com/?lang=tr"><i class="icon-twitter3"></i></a>
                                        <a href="https://myaccount.google.com/intro/profile"><i class="icon-googleplus"></i></a>
                                        <a href="https://dribbble.com/"><i class="icon-dribbble2"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-pb-sm">
                            <h2>Tech Phantoms Blog</h2>
                            <div class="f-entry">
                                <a href="#" class="featured-img" style="background-image: url(images/img-1.jpg);"></a>
                                <div class="desc">
                                    <span>June 2021</span>
                                    <h3><a href="#">Ankara | İstanbul</a></h3>
                                </div>
                            </div>
                            <div class="f-entry">
                                <a href="#" class="featured-img" style="background-image: url(images/img-2.jpg);"></a>
                                <div class="desc">
                                    <span>June 2021</span>
                                    <h3><a href="#">Tech Phantoms</a></h3>
                                </div>
                            </div>
                            <div class="f-entry">
                                <a href="#" class="featured-img" style="background-image: url(images/img-3.jpg);"></a>
                                <div class="desc">
                                    <span>June 2021</span>
                                    <h3><a href="#">Road ...</a></h3>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart4" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Tech Phantoms</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



    <!-- jQuery -->

   

</body>
</html>

