<nav id="colorlib-main-nav" role="navigation">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
    <div class="js-fullheight colorlib-table">
        <div class="colorlib-table-cell js-fullheight">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                
                        <li><a asp-action="Abouth" asp-controller="Home">Hakkımızda</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">İletişim</a></li>
                        <li><a asp-area="" asp-action="LoginButton" asp-controller="Home">Giriş</a></li>
                       
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="head-title">Proje</h2>
                    <a href="~/noah/images/work-1.jpg" class="gallery image-popup-link text-center" style="background-image: url(/noah/images/yönetisigirisi.png);">
                        <span><i class="icon-search3"></i></span>
                    </a>
                    <a href="images/work-2.jpg" class="gallery image-popup-link text-center" style="background-image: url( /noah/images/team1.png); ">
                        <span><i class="icon-search3"></i></span>
                    </a>
                    <a href="images/work-3.jpg" class="gallery image-popup-link text-center" style="background-image: url(/noah/images/personelgirisi.png); ">
                        <span><i class="icon-search3"></i></span>
                    </a>
                  
                </div>
            </div>
        </div>
    </div>
</nav>